@media screen and (max-width: 640px) {
  .icon-menu {
    visibility: visible;

  }  li{
     

    }


}

@media not screen and (max-width: 640px) {
  .icon-menu {
    visibility: hidden;

  }
  li{
   display:inline-block;
   vertical-align: top;
  }
}

.heading-group-h1 h1 {
  margin: 0;
  padding-top: 1%;
}

.site-header {
  background-color: #FFEAA9;
}
li {
  list-style-type: none;
}
